@import "/src/theme/screens.scss";

.control-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
}

.full-width {
  margin-top: 2rem;

  header {
    text-align: center;
    margin: 0.5rem;
    font-size: 15px;
  }
}

.logo {
  margin-top: 3rem;
}
