@import "/src/theme/screens.scss";

.form-item {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.inline-form-field {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-field {
  width: 100%;
  margin: 0 0.2rem;
}

mat-label {
  color: #121111;
}

::ng-deep .mat-select-value {
  color: #121111 !important;
}

.control-buttons {
  display: flex;
  width: 100%;
}

.submit-button {
  width: 100%;
}
