<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Update Profile</ion-title>

    <ion-buttons slot="end" class="sign-out-button" (click)="onLogOut()">
      <ion-icon size="large" name="log-out"> </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Profile details</ion-card-title>
    </ion-card-header>

    <ion-card-content *ngIf="profile != null">
      <ion-list>
         <!--  <ion-item>
        <ion-label>Title</ion-label>
          <ion-note slot="end">{{profile.title}}</ion-note>
        </ion-item> -->

        <!-- <ion-item>
          <ion-label>Name</ion-label>
          <ion-note slot="end">{{profile.name}}</ion-note>
        </ion-item>

        <ion-item>
          <ion-label>Surname</ion-label>
          <ion-note slot="end">{{profile.surname}}</ion-note>
        </ion-item> -->

        <ion-item>
          <ion-label>Identity Number</ion-label>
          <ion-note slot="end">{{profile.passportOrSAIDNumber}}</ion-note>
        </ion-item>

        <!-- <ion-item>
          <ion-label>Contact Number</ion-label>
          <ion-note slot="end">{{profile.contactNumber}}</ion-note>
        </ion-item> -->


        <ion-item>
          <ion-label>Email</ion-label>
          <ion-note slot="end">{{profile.email}}</ion-note>
        </ion-item>

        <ion-item>
          <ion-label>Relationship</ion-label>
          <ion-note slot="end">{{profile.parentRelationship}}</ion-note>
        </ion-item>


      </ion-list>
    </ion-card-content>

  </ion-card>


  <form [formGroup]="form" *ngIf="form != null">
    <!-- <ion-card> -->


    <!-- -->

    <!-- <div class="inline-form-field">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Relationship to Child</mat-label>
          <mat-select formControlName="ParentRelationship">
            <mat-option value=""> --Select option--</mat-option>
            <mat-option value="Guardian"> Guardian </mat-option>
            <mat-option value="Mother"> Mother </mat-option>
            <mat-option value="Father"> Father </mat-option>
          </mat-select>
          <mat-error *ngIf="ParentRelationship.touched && ParentRelationship.invalid">
            <div *ngIf="ParentRelationship.errors.required">please provide your relationship to child.</div>
          </mat-error>
        </mat-form-field>
      </div> -->
    <!--
      <div class="inline-form-field">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Title</mat-label>
          <mat-select formControlName="Title">
            <mat-option value=""> --Select option--</mat-option>
            <mat-option value="Mr"> Mr </mat-option>
            <mat-option value="Mrs"> Mrs </mat-option>
            <mat-option value="Miss"> Miss </mat-option>
            <mat-option value="Ms"> Ms </mat-option>
            <mat-option value="Dr"> Dr </mat-option>
          </mat-select>
          <mat-error *ngIf="Title.touched && Title.invalid">
            <div *ngIf="Title.errors.required">please provide your Title.</div>
          </mat-error>
        </mat-form-field>
      </div> -->


    <!-- <div class="inline-form-field">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Identity Number</mat-label>
          <input matInput formControlName="IdentityNumber" type="text" required>
          <mat-error *ngIf="IdentityNumber.touched && IdentityNumber.invalid">
            <div *ngIf="IdentityNumber.errors.required">Identity Number is required.</div>
          </mat-error>
        </mat-form-field>
      </div> -->

    <!-- </ion-card> -->

    <ion-card>
      <ion-card-header>
        <ion-card-title>Updatable details</ion-card-title>
      </ion-card-header>

       <div class="inline-form-field">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Name</mat-label>
          <input type="text" matInput formControlName="Name" required>
          <mat-error *ngIf="Name.touched && Name.invalid">
            <div *ngIf="Name.errors.required">please provide your name.</div>
          </mat-error>
        </mat-form-field>
      </div>

     <div class="inline-form-field">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Surname</mat-label>
          <input type="text" matInput formControlName="Surname" required>
          <mat-error *ngIf="Surname.touched && Surname.invalid">
            <div *ngIf="Surname.errors.required">please provide your surname.</div>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="inline-form-field">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Title</mat-label>
          <mat-select formControlName="Title">
            <mat-option value=""> --Select option--</mat-option>
            <mat-option value="Mr"> Mr </mat-option>
            <mat-option value="Mrs"> Mrs </mat-option>
            <mat-option value="Miss"> Miss </mat-option>
            <mat-option value="Ms"> Ms </mat-option>
            <mat-option value="Dr"> Dr </mat-option>
          </mat-select>
          <mat-error *ngIf="Title.touched && Title.invalid">
            <div *ngIf="Title.errors.required">please provide your Title.</div>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="inline-form-field">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Contact Number</mat-label>
          <input type="text" matInput formControlName="ContactNumber" required>
          <mat-error *ngIf="ContactNumber.touched && ContactNumber.invalid">
            <div *ngIf="ContactNumber.errors.required">please provide your Contact Number.</div>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="inline-form-field">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Address Line 1</mat-label>
          <input type="text" matInput formControlName="AddressLine1" required>
          <mat-error *ngIf="AddressLine1.touched && AddressLine1.invalid">
            <div *ngIf="AddressLine1.errors.required">please provide Address Line 1.</div>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="inline-form-field">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Address Line 2</mat-label>
          <input type="text" matInput formControlName="AddressLine2">
        </mat-form-field>
      </div>

      <div class="inline-form-field">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>City / Town</mat-label>
          <input type="text" matInput formControlName="City" required>
          <mat-error *ngIf="City.touched && City.invalid">
            <div *ngIf="City.errors.required">please provide City or town.</div>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="inline-form-field">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Zip Code</mat-label>
          <input type="text" matInput formControlName="ZipCode" required>
          <mat-error *ngIf="ZipCode.touched && ZipCode.invalid">
            <div *ngIf="ZipCode.errors.required">please provide zip code.</div>
          </mat-error>
        </mat-form-field>
      </div>

    </ion-card>

    <ion-card class="buttons-inline">
      <ion-button class="submit-button" color="secondary" type="Cancel" (click)="onNavigateToHome()">Cancel</ion-button>
      <ion-button class="submit-button" color="primary" type="submit" (click)="onSubmit()">Update</ion-button>
    </ion-card>
  </form>
</ion-content>
