<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Manage Bookings</ion-title>
    <ion-buttons slot="end" class="sign-out-button" (click)="onLogOut()">
      <ion-icon size="large" name="log-out"> </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col (click)="onNavigateToListBookings()">
          <ion-card>
            <ion-card-header>
              <ion-card-title>View My Bookings</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col (click)="onNavigateToMakeBooking()">
          <ion-card>
            <ion-card-header>
              <ion-card-title>New Booking</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
  <ion-card class="buttons-inline">
    <ion-button class="submit-button" color="secondary" type="Cancel" (click)="onNavigateToHome()">Go to Home</ion-button>
  </ion-card>
</ion-content>
