<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>HOME</ion-title>
    <ion-buttons slot="end" class="sign-out-button" (click)="onLogOut()">
    <ion-icon size="large" name="log-out"   > </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card (click)="onNavigateToCreateProfile()">
            <img src="assets/icons/profile.jpg" />
            <ion-card-header>
              <ion-card-title>Profile</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card (click)="onNavigateToChildProfile()">
            <img src="assets/icons/child.jpg" />
            <ion-card-header>
              <ion-card-title>Child</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card (click)="onNavigateToManageBookings()">
            <img src="assets/icons/booking.webp" />
            <ion-card-header>
              <ion-card-title>Bookings</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <img src="assets/icons/activity.png" />
            <ion-card-header>
              <ion-card-title>Activities</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-card>
            <img src="assets/icons/survey.png" />
            <ion-card-header>
              <ion-card-title>Survey</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <img src="assets/icons/events.png" />
            <ion-card-header>
              <ion-card-title>Events</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-card>
            <img src="assets/icons/blog.png" />
            <ion-card-header>
              <ion-card-title>Blog</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <img src="assets/icons/guide.jpg"/>
            <ion-card-header>
              <ion-card-title>Guide</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>


    </ion-grid>
  </div>
</ion-content>
